<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>from</string>
			<key>Display</key>
			<string>Exocytosis</string>
			<key>Structure</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Table</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>List</string>
					<key>Type</key>
					<string>Text</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>comb</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>time</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>ptNumber</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>shift</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>flag</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>center</string>
					<key>Type</key>
					<string>Point2D</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>R2</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>drift</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>background</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>delay</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>decay</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>peakWidth</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Close</string>
				</dict>
			</array>
			<key>Structure Requirement</key>
			<integer>2</integer>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>to</string>
			<key>Display</key>
			<string>ERPM</string>
			<key>Structure</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Table</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Mask</string>
					<key>Type</key>
					<string>Mask2D</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Center</string>
					<key>Type</key>
					<string>Point2D</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Area</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Pixels</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Close</string>
				</dict>
			</array>
			<key>Structure Requirement</key>
			<integer>2</integer>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Allow Empty</key>
			<true/>
			<key>Allow Empty Variable</key>
			<true/>
			<key>Argument</key>
			<string>inside</string>
			<key>Type</key>
			<string>Mask2D</string>
		</dict>
	</array>
	<key>Language</key>
	<string>C++</string>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Module</key>
	<string>Shortest distance to points in second table</string>
	<key>Name of Project</key>
	<string>Shortest Distance between point lists</string>
	<key>Output Structure</key>
	<array>
		<dict>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>exocytosis</string>
			<key>Type</key>
			<string>Point2D</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>time</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>erpm</string>
			<key>Type</key>
			<string>Point2D</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>index</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>distance</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Close</string>
		</dict>
	</array>
	<key>Return Type</key>
	<string>Table</string>
</dict>
</plist>
