<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>1a77225a65e63d1a0dd1a243cd8cf92804ef5d27485e52d832c21c720be5fef0</string>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>from</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string>Exocytosis</string>
			<key>Structure</key>
			<array>
				<dict>
					<key>Name</key>
					<string>time</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>center</string>
					<key>Type</key>
					<string>Point2D</string>
				</dict>
			</array>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>to</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string>ERPM</string>
			<key>Structure</key>
			<array>
				<dict>
					<key>Name</key>
					<string>Center</string>
					<key>Type</key>
					<string>Point2D</string>
				</dict>
			</array>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Allow Empty</key>
			<string>YES</string>
			<key>Allow Empty Variable</key>
			<string>YES</string>
			<key>Argument</key>
			<string>inside</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Mask2D</string>
		</dict>
	</array>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Group</key>
	<string>MyGroup</string>
	<key>Name of Module</key>
	<string>Shortest distance to points in second table</string>
	<key>Name of Output</key>
	<string>output</string>
	<key>Name of Project</key>
	<string>Shortest Distance between point lists</string>
	<key>Table Information</key>
	<array>
		<dict>
			<key>Name</key>
			<string>exocytosis</string>
			<key>Type</key>
			<string>Point2D</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>time</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>erpm</string>
			<key>Type</key>
			<string>Point2D</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>index</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>distance</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Variable Type</key>
	<string>Table</string>
</dict>
</plist>
