<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>c049163faa2341420809e4ab1b6bfa1269e4b0bc1218f9c71c10e3e8bc7b6763</string>
	<key>Channel Information</key>
	<array>
		<string>intensity</string>
	</array>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>origin</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>2D Point</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>h</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>1</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>m</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>100</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>n</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>100</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>radius</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>1</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>points</string>
			<key>Column Name</key>
			<string>point</string>
			<key>Column Type</key>
			<integer>5</integer>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Single Column</string>
		</dict>
	</array>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Group</key>
	<string>Group</string>
	<key>Name of Module</key>
	<string>Combine Peaks</string>
	<key>Name of Output</key>
	<string>output</string>
	<key>Name of Project</key>
	<string>Combine Peaks</string>
	<key>Variable Type</key>
	<string>Image</string>
</dict>
</plist>
