<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>c1c87df0aef08c95c10e3ba487b0e8bc10cc6504904ca57fc0a0bb4fb3f26eb2</string>
	<key>Channel Information</key>
	<array>
		<string>intensity</string>
	</array>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>origin</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0,0</string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>2D Point</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>h</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>m</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>n</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>radius</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>points</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Structure</key>
			<array>
				<dict>
					<key>Name</key>
					<string>point</string>
					<key>Type</key>
					<string>Point2D</string>
				</dict>
			</array>
			<key>Type</key>
			<string>Table</string>
		</dict>
	</array>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Group</key>
	<string>Group</string>
	<key>Name of Module</key>
	<string></string>
	<key>Name of Output</key>
	<string>output</string>
	<key>Name of Project</key>
	<string>Combine Peaks</string>
	<key>Variable Type</key>
	<string>Image</string>
</dict>
</plist>
