<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>a9d247662afd95ef23b81ba66fa2843487a57aa3bdd650a8a900f08e111fd240</string>
	<key>Group Information</key>
	<array>
		<dict>
			<key>Name</key>
			<string>average</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>width</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>intensity</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>count</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
			</array>
			<key>Name</key>
			<string>histogram</string>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>fit</string>
			<key>Type</key>
			<string>Function1D</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>R2</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>delay</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>decay</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>shift</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>time</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>centerSpot</string>
					<key>Type</key>
					<string>Point2D</string>
				</dict>
			</array>
			<key>Name</key>
			<string>Drift</string>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>kink</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>base</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>spike</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>decay</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>R2</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>RMSE</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
			</array>
			<key>Name</key>
			<string>Piecewise Fit</string>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>x</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>t</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>y</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
			</array>
			<key>Name</key>
			<string>pointsUsedForFit</string>
			<key>Type</key>
			<string>Table</string>
		</dict>
	</array>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>images</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Image Set</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>ptNumber</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string>Point Number</string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>parameters</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Dictionary</string>
		</dict>
	</array>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Group</key>
	<string>Group</string>
	<key>Name of Module</key>
	<string>Quantify single event</string>
	<key>Name of Output</key>
	<string>output</string>
	<key>Name of Project</key>
	<string>Quantify event</string>
	<key>Variable Type</key>
	<string>Group</string>
</dict>
</plist>
