<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>everything</string>
			<key>Structure</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Table</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>time</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Mask</string>
					<key>Type</key>
					<string>Mask2D</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Center</string>
					<key>Type</key>
					<string>Point2D</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Area</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Pixels</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>scaled.integral</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>scaled.min</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>scaled.max</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>scaled.mean</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>scaled.median</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>rawMask</string>
					<key>Type</key>
					<string>Mask2D</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Close</string>
				</dict>
			</array>
			<key>Structure Requirement</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>stepsBack</string>
			<key>Default</key>
			<string>0</string>
			<key>Round</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Language</key>
	<string>C++</string>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Module</key>
	<string>Tracker</string>
	<key>Name of Project</key>
	<string>Connect Patches</string>
	<key>Output Structure</key>
	<array>
		<dict>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>time</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Mask</string>
			<key>Type</key>
			<string>Mask2D</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>ID</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Count</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Close</string>
		</dict>
	</array>
	<key>Return Type</key>
	<string>Table</string>
</dict>
</plist>
