ImageTank/GaussFit/GaussFit.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/GaussFit/GaussFit.xcodeproj/project.xcworkspace/xcuserdata/ellencleliaoshaughnessy.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/GaussFit/GaussFit.xcodeproj/xcuserdata/ellencleliaoshaughnessy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ImageTank/GaussFit/GaussFit.xcodeproj/xcuserdata/ellencleliaoshaughnessy.xcuserdatad/xcschemes/xcschememanagement.plist
ImageTank/DoG/DoG.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/GaussFit/GaussFit.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
ImageTank/DoG/DoG.xcodeproj/xcuserdata/ellencleliaoshaughnessy.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
*.xcbkptlist
*.xcworkspacedata
*.xcbkptlist
*.xcbkptlist
ImageTank/First Filter Pass/First Filter Pass.xcodeproj/xcuserdata/ellencleliaoshaughnessy.xcuserdatad/xcschemes/xcschememanagement.plist
ImageTank/Quantify event/Quantify event.xcodeproj/xcuserdata/ellencleliaoshaughnessy.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
ImageTank/DoG/DoG.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/Piecewise fit/.DS_Store
.DS_Store
ImageTank/Quantify event/Quantify event.xcodeproj/xcuserdata/david.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ImageTank/Regions from sequence/Regions from sequence.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/DoG/DoG.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/Regions from sequence/.DS_Store
*.xcuserstate
*.xcuserstate
ImageTank/Regions from sequence/.DS_Store
ImageTank/DoG/DoG.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/.DS_Store
ImageTank/DoG/DoG.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/First Filter Pass/First Filter Pass.xcodeproj/xcuserdata/david.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ImageTank/First Filter Pass/First Filter Pass.xcodeproj/xcuserdata/david.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ImageTank/Quantify event/Quantify event.xcodeproj/xcuserdata/david.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
*.xcbkptlist
*.xcuserstate
.DS_Store
ImageTank/.DS_Store
*.xcuserstate
ImageTank/GaussFit/.DS_Store
ImageTank/Regions from sequence/.DS_Store
ImageTank/GaussFit/.DS_Store
