
ImageTank/GaussFit/GaussFit.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/GaussFit/GaussFit.xcodeproj/project.xcworkspace/xcuserdata/ellencleliaoshaughnessy.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/GaussFit/GaussFit.xcodeproj/xcuserdata/ellencleliaoshaughnessy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ImageTank/GaussFit/GaussFit.xcodeproj/xcuserdata/ellencleliaoshaughnessy.xcuserdatad/xcschemes/xcschememanagement.plist
ImageTank/DoG/DoG.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
ImageTank/GaussFit/GaussFit.xcodeproj/project.xcworkspace/xcuserdata/david.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
ImageTank/DoG/DoG.xcodeproj/xcuserdata/ellencleliaoshaughnessy.xcuserdatad/xcschemes/xcschememanagement.plist
