<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>648f7f3b8fd638d4a01ec860322d9feba60f8de28f858e6f9311dbdbe5d81940</string>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>grid</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Image</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>points</string>
			<key>Column Name</key>
			<string>point</string>
			<key>Column Type</key>
			<integer>5</integer>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Single Column</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>radius</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>4</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string>1,40</string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Group</key>
	<string>MyGroup</string>
	<key>Name of Module</key>
	<string>Create patches</string>
	<key>Name of Output</key>
	<string>output</string>
	<key>Name of Project</key>
	<string>Patches at Points</string>
	<key>Table Information</key>
	<array>
		<dict>
			<key>Name</key>
			<string>point</string>
			<key>Type</key>
			<string>Point2D</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>mask</string>
			<key>Type</key>
			<string>Mask2D</string>
		</dict>
	</array>
	<key>Variable Type</key>
	<string>Table</string>
</dict>
</plist>
