<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>a5bc192fbe64491fc1b0554ed10636c1d98de72280830dce8dec20fddb92d682</string>
	<key>Group Information</key>
	<array>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>r</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>value</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
			</array>
			<key>Name</key>
			<string>values</string>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>r</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>L</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
			</array>
			<key>Name</key>
			<string>L</string>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>r</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>L</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
			</array>
			<key>Name</key>
			<string>L2</string>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Channel</key>
					<string>YES</string>
					<key>Name</key>
					<string>value</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
			</array>
			<key>Name</key>
			<string>pdf</string>
			<key>Type</key>
			<string>Image</string>
		</dict>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Column</key>
					<string>YES</string>
					<key>Name</key>
					<string>xy</string>
					<key>Type</key>
					<string>Point2D</string>
				</dict>
			</array>
			<key>Name</key>
			<string>sample</string>
			<key>Type</key>
			<string>Table</string>
		</dict>
	</array>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>mask</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Gear Menu</key>
			<string>Compute Ripley Signature</string>
			<key>Type</key>
			<string>Mask2D</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>count</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>seed</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>545441</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>rRange</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>1D Region</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>yRange</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>1D Region</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>rCount</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>4000</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string>1,5</string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>yCount</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>300</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>runs</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>200</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Group</key>
	<string>Group</string>
	<key>Name of Module</key>
	<string>Ripley's Spatial Signature</string>
	<key>Name of Output</key>
	<string>output</string>
	<key>Name of Project</key>
	<string>Spatial Signature</string>
	<key>Variable Type</key>
	<string>Group</string>
</dict>
</plist>
