<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>1a99f0309eea3d17c203d2839c56382fa4ab9523466476f7c3a2b94bc8f67c1e</string>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>pdf</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Image</string>
		</dict>
	</array>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Group</key>
	<string>MyGroup</string>
	<key>Name of Module</key>
	<string>MAD calculation</string>
	<key>Name of Output</key>
	<string>output</string>
	<key>Name of Project</key>
	<string>MAD calculation</string>
	<key>Table Information</key>
	<array>
		<dict>
			<key>Name</key>
			<string>r</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>mad</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Variable Type</key>
	<string>Table</string>
</dict>
</plist>
