<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>9779c476d92054a5ce54d8f931d97cd8bc98ef70a2bc51c177965d1f7659c61d</string>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>region</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Mask2D</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>seed</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>2314232365</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>count</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>1000</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>parameters</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Dictionary</string>
		</dict>
	</array>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Group</key>
	<string>Group</string>
	<key>Name of Module</key>
	<string>Realizations</string>
	<key>Name of Output</key>
	<string>output</string>
	<key>Name of Project</key>
	<string>Random Process</string>
	<key>Set Parameter Information</key>
	<array>
		<dict>
			<key>Name</key>
			<string>run</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Set Table Information</key>
	<array>
		<dict>
			<key>Name</key>
			<string>time</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>point</string>
			<key>Type</key>
			<string>Point2D</string>
		</dict>
	</array>
	<key>Variable Type</key>
	<string>Table Set</string>
</dict>
</plist>
