<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>569b3c9d55a2e700a4894f6735214dd76f52b50f3e54c1db11d15be2c215c411</string>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>image</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Image</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>sigma</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Name of Function</key>
	<string>DoG</string>
	<key>Name of Group</key>
	<string>Group</string>
	<key>Name of Module</key>
	<string>Command Line Utility</string>
	<key>Name of Output</key>
	<string>output</string>
	<key>Name of Project</key>
	<string>GaussFit</string>
	<key>Set Channel Information</key>
	<array>
		<string>field</string>
		<string>difference</string>
		<string>median</string>
	</array>
	<key>Set Parameter Information</key>
	<array>
		<dict>
			<key>Name</key>
			<string>sigma</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>octave</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Variable Type</key>
	<string>Image Set</string>
</dict>
</plist>
