<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>initial</string>
			<key>Structure</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Table</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>x</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>y</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Close</string>
				</dict>
			</array>
			<key>Structure Requirement</key>
			<integer>2</integer>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>D</string>
			<key>Default</key>
			<string>0</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>dt</string>
			<key>Default</key>
			<string>0</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>until</string>
			<key>Default</key>
			<string>0</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>stride</string>
			<key>Default</key>
			<string>0</string>
			<key>Round</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>maxVal</string>
			<key>Default</key>
			<string>0</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>v_max</string>
			<key>Default</key>
			<string>0</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>k</string>
			<key>Default</key>
			<string>0</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>fluxOnLeft</string>
			<key>Default</key>
			<string>0</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Language</key>
	<string>C++</string>
	<key>Name of Module</key>
	<string></string>
	<key>Name of Project</key>
	<string>Diffusion and growth in 1D</string>
</dict>
</plist>
