<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>189638ff17ff889af6c889992e31ed8662f0802885c9d3e5990a9c62a7e8581e</string>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>initial</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Series</key>
			<false/>
			<key>Structure</key>
			<array>
				<dict>
					<key>Name</key>
					<string>x</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>y</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
			</array>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>D</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>dt</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>until</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>stride</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>maxVal</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>v_max</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>k</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>fluxOnLeft</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Name of Module</key>
	<string></string>
	<key>Name of Project</key>
	<string>Diffusion and growth in 1D</string>
	<key>Variable Type</key>
	<string>Task</string>
</dict>
</plist>
