<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Calling Arguments</key>
	<string>34e0b1907afde5b0fd08fb5a91ae95f090304eb4f320fffec4cac789c31631fe</string>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>images</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string>Images</string>
			<key>Type</key>
			<string>Image Set</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>fromBkgrnd</string>
			<key>Comment</key>
			<string>How much it has to rise from background</string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string>From Bkgrnd</string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>tailThreshold</string>
			<key>Comment</key>
			<string>When to stop tracking</string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string>Tail Scale</string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>maxDrift</string>
			<key>Comment</key>
			<string>Maximum Drift</string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string>Max Drift</string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<false/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>stepsForDrift</string>
			<key>Comment</key>
			<string></string>
			<key>Default</key>
			<string>0</string>
			<key>Display</key>
			<string></string>
			<key>Interval</key>
			<string></string>
			<key>Round</key>
			<true/>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>parameters</string>
			<key>Comment</key>
			<string></string>
			<key>Display</key>
			<string></string>
			<key>Type</key>
			<string>Dictionary</string>
		</dict>
	</array>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Group</key>
	<string>Group</string>
	<key>Name of Module</key>
	<string>Quantify a single spike</string>
	<key>Name of Output</key>
	<string>output</string>
	<key>Name of Project</key>
	<string>First Filter Pass</string>
	<key>Table Information</key>
	<array>
		<dict>
			<key>Name</key>
			<string>time</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>shift</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>flag</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>center</string>
			<key>Type</key>
			<string>Point2D</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>R2</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>drift</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>background</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>decay</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>width</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
	</array>
	<key>Variable Type</key>
	<string>Table</string>
</dict>
</plist>
