<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Input</key>
	<array>
		<dict>
			<key>Argument</key>
			<string>everything</string>
			<key>Structure</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Image Set</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Parameters</string>
					<key>Type</key>
					<string>Table</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>t</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Close</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>Element</string>
					<key>Type</key>
					<string>Image</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>pH</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Close</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Close</string>
				</dict>
			</array>
			<key>Structure Requirement</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Image Set</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>spots</string>
			<key>Gear Menu</key>
			<string>Region from image series</string>
			<key>Structure</key>
			<array>
				<dict>
					<key>Type</key>
					<string>Table</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>center</string>
					<key>Type</key>
					<string>Point2D</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>width</string>
					<key>Type</key>
					<string>Number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>box</string>
					<key>Type</key>
					<string>Region2D</string>
				</dict>
				<dict>
					<key>Type</key>
					<string>Close</string>
				</dict>
			</array>
			<key>Structure Requirement</key>
			<integer>2</integer>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>time</string>
			<key>Default</key>
			<string>0</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>timeback</string>
			<key>Default</key>
			<string>0</string>
			<key>Round</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>timeforward</string>
			<key>Default</key>
			<string>0</string>
			<key>Round</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Argument</key>
			<string>parameters</string>
			<key>Type</key>
			<string>Dictionary</string>
		</dict>
	</array>
	<key>Language</key>
	<string>C++</string>
	<key>Name of Function</key>
	<string>Computation</string>
	<key>Name of Module</key>
	<string>Regions from Sequence</string>
	<key>Name of Project</key>
	<string>Regions from sequence</string>
	<key>Output Structure</key>
	<array>
		<dict>
			<key>Type</key>
			<string>Image Set</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Parameters</string>
			<key>Type</key>
			<string>Table</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>time</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>failure</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>failureAtStart</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>R2</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>intensity</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>width</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>center</string>
			<key>Type</key>
			<string>Point2D</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>ptNumber</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>centerSpot</string>
			<key>Type</key>
			<string>Point2D</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>average</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Close</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Element</string>
			<key>Type</key>
			<string>Image</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>intensity</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>difference</string>
			<key>Type</key>
			<string>Number</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Close</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>Close</string>
		</dict>
	</array>
	<key>Return Type</key>
	<string>Image Set</string>
</dict>
</plist>
